{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content-wrapper col-12 col-lg-8">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Hexe Data</a></li>
            <li class="breadcrumb-item"><a href="{% url 'oferta' %}">Oferta</a></li>
            <li class="breadcrumb-item active">Analiza danych</li>
        </ol>
        <div class="post">
            <h1>Analiza danych</h1>

            <p>Analiza poprawności wdrożenia systemów analitycznych i rzetelności zbieranych danych.</p>

            <p>Poprawnie zbierane dane oraz poprawnie skonfigurowany system analityczny gwarantują, że wyciągane wnioski i podejmowane decyzje będą miały rzeczywiście pozytywny wpływ na kluczowe wskaźniki Państwa firmy.</p>
            <p>W trakcie analizy danych i systemów koncentrujemy się na:</p>
            <ul>
                <li>Audyt wdrożenia systemu analitycznego - czy wszystkie kluczowe funkcje są zaimplementowane poprawnie?</li>
                <li>Audyt otrzymywanych wyników - czy zbierane dane są porównywalne z danymi z innych systemów (np. systemu sprzedaży) i czy zbierane dane mają sens biznesowy?</li>
                <li>Audyt wykorzystania danych - czy zbierane dane są w ogóle wykorzystywane w dalszej analizie? Czy wyciągane na ich podstawie wnioski są prawidłowe?</li>
                <li>Jakie inne dane powinny być zbierane i analizowane? Jaki inny system analityczny należy wdrożyć, aby uzupłnić te dane?</li>
            </ul>
            <p><b>Celem</b> analizy danych jest zapewnienie solidnych podstaw do wdrożenia programu cyklicznej analizy i raportowania danych.</p>
            <h2>Wdrożenie programu analityki internetowej</h2>
            <p>Istotnym aspektem analizy danych - po ich uporządkowaniu - jest wdrożenie programu cyklicznej analizy i raportowania, tak aby zbierane dane były przekładane na konkretne wnioski i rekomendacje dla jednostek biznesowych firmy np. narketingu, sprzedaży itp. Program analityki internetowej obejmuje:</p>
            <ul>
                <li>Wdrożenie zasad raportowania i analizy danych</li>
                <li>Cykliczna analiza i raportowanie danych np. w postaci dedykowanych paneli analitycznych dla postawionych wskaźników KPI</li>
                <li>Szkolenia i wsparcie pracowników firmy w zakresie pytań i wątpliwości związanych z analityką</li>
                <li>Stała optymalizacja i dostosowanie narzędzi i zbieranych danych</li>
                <li>Prognozowanie i "wyprzedzanie" rynku w poszukiwaniu przewag konkurencyjnych</li>
            </ul>
            <img class="full-width" src="{% static 'content/img4.jpg' %}" alt="Post Image">
            <img class="half-width" src="{% static 'content/img3.jpg' %}" alt="Post Image">
            <img class="half-width" src="{% static 'content/img5.jpg' %}" alt="Post Image">
        </div>
    </div>

{% endblock %}


