{% load staticfiles %}


<!doctype html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>

	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,500,700,700i,800,900" rel="stylesheet">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" type="text/css" href="{% static '/libs/bootstrap/dist/css/bootstrap-min.css' %}" />
	<link rel="stylesheet" href="styles/fontello.css">
	<link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>
<body>

<!-- start page -->
<div id="page" class="homepage">


    <!-- start header -->
	<header>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-6">
					<a href="{% url 'index' %}" class="logo">
						<img src="{% static 'images/logo.png' %}" alt="Hexe Data">
					</a>
				</div>
				<div class="col-6 hidden-xs-down">
					<p class="float-right">WE <b>DATE</b> BUSINESS WITH <b>DATA</b></p>
				</div>
				<div class="col-12">
					<nav class="navbar navbar-toggleable-sm">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarToggler">
							<ul class="navbar-nav justify-content-around">
								<li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Start</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'oferta' %}">Oferta</a></li>
								<li class="nav-item"><a class="nav-link" href="/onas">O nas</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'kompetencje' %}">Kompetencje</a></li>
								<li class="nav-item"><a class="nav-link" href="/narzedzia">Narzędzia</a></li>

								<li class="nav-item"><a class="nav-link" href="/kontakt">Kontakt</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
    <!-- end header -->

    <!-- start carousel section -->
    	<section class="carousel-section">
		<div class="container">
			<div class="main-carousel carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<img src="{% static 'content/slide.jpg' %}" alt="First slide">
						<div class="carousel-caption d-none d-md-block text-left">
							<h1><b>Rzetelne dane</b> są podstawą,<br/> trafnych decyzji biznesowych</h1>
							<p> Nasz zespół stanowią doświadczeni analitycy, którzy podczas swojej kariery współpracowali z wieloma, czołowymi markami krajowymi jak i zagranicznymi <span>Zapraszamy do współpracy.</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- end carousel section -->


    <!-- start content section -->
    <section class="content-section">
        <div class="container">
            <div class="row">

                {% block content %}{% endblock %}

                <!-- sidebar start -->
                <div class="col-12 col-lg-4">
                    <div class="sidebar">
                        <div>
                            <h2>Zamów darmową sesję z naszym analitykiem</h2>
                            <p>Jeżeli Twój biznes generuje ponad 100 tysięcy złotych przychodu miesięcznie, to dajemy Tobie,
                                zupełnie za darmo, 60 minutową sesję podczas której nasz specjalista przeanalizuje kluczowe obszary
                                Twojego biznesu i zaproponuje rozwiązania analityczne, pozwalające na wzrost współczynnika konwersji
                                online.</p>
                            <a href="{% url 'kontakt' %}" class="btn btn-primary d-block">Zarezerwuj termin Twojej sesji</a>
                        </div>
                        <div>
                            <h2>Pracujemy dla marek polskich i światowych</h2>
                            <p>Wybrane marki z jakimi pracowali nasi konsultanci.</p>
                            <div class="logos-wrapper">
                                <span><img src="{% static 'content/logo-winiary.png' %}" alt="Winiary"></span>
                                <span><img src="{% static 'content/logo-tesco.png' %}" alt="Tesco"></span>
                                <span><img src="{% static 'content/logo-vw.png' %}" alt="Volkswagen Bank"></span>
                                <span><img src="{% static 'content/logo-credit-suisse.png' %}" alt="Credit Suisse"></span>
                                <span><img src="{% static 'content/logo-play.png' %}" alt="Play"></span>
                                <span><img src="{% static 'content/logo-newsweek.png' %}" alt="Newsweek"></span>
                                <span><img src="{% static 'content/logo-bayer.png' %}" alt="Bayer"></span>
                                <span><img src="{% static 'content/logo-krd.png' %}" alt="Krajowy Rejestr Długów"></span>
                            </div>
                        </div>
                        <div>
                            <h2>Kontakt</h2>
                            <p class="contact-phone"><a href="tel:48560123123">+48 667 16 70 70</a></p>
                            <p class="contact-email"><a href="mailto:hello@hexedata.com">hello@hexedata.com</a></p>
                        </div>
                    </div>
                </div>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- end content section -->

    <!-- footer start -->
    <footer>
		<div class="container">
			<div class="row no-gutters text-center align-items-center">
				<ul class="col-12 col-md-8 flex-md-last text-md-right menu">
					<li><a href="{% url 'index' %}">Start</a></li>
					<li><a href="{% url 'oferta' %}">Oferta</a></li>
					<li><a href="{% url 'onas' %}">O nas</a></li>
					<li><a href="{% url 'kompetencje' %}">Kompetencje</a></li>
					<li><a href="{% url 'narzedzia' %}">Narzędzia</a></li>
					<li><a href="{% url 'kontakt' %}">Kontakt</a></li>
				</ul>
				<p class="col-12 col-md-4 text-md-left copyrights">// Copyright <a href="http://hexecapital.com">Hexe Capital Sp. z o.o. Spółka Komandytowa</a></p>
			</div>
		</div>
	</footer>
    <!-- footer end -->

</div>
<!-- end page -->

<script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>

</body>
</html>
