{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
    <div class="content-wrapper col-12 col-lg-8">
        <h2 class="heading-highlight">Oferujemy usługi z zakresu <b>analizy danych, optymalizacji konwersji</b> oraz <b>raportowania
            i wdrażania systemów analitycznych.</b></h2>
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="box">
                    <h3 class="title">Analiza danych</h3>
                    <div class="gfx-wrapper">
                        <img src="{% static 'content/icon-ad.png' %}" alt="Analiza danych">
                    </div>
                    <p>Analiza danych jest nastawiona na trzy główne obszary - weryfikację poprawności zbieranych danych, uporządkowanie zbieranych danych oraz przełożenie gromadzonych danych na realną wiedzę, pozwalającą napodejmowanie trafnych decyzji biznesowych, szczególnie w obszarach związanych z maksymalizacją postawionych KPI.</p>
                    <a href="{% url 'analizaDanych' %}" class="btn btn-secondary">Zobacz więcej</a>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="box">
                    <h3 class="title">Visual Analytics</h3>
                    <div class="gfx-wrapper">
                        <img src="{% static 'content/icon-va.png' %}" alt="Visual Analytics">
                    </div>
                    <p>Visual Analytics to narzędzia i usługa nastawiona na prezentację danych w sposób zwięzły, przejrzysty i pokazujący wzajemne zależności, korelacje pomiędzy grupami danych. W ramach wdrożenia oferujemy tu produkty światowych liderów Tableau i Qlick, zarówno w zakresie konfiguracji jak i integracji z obecną analityką firmy.</p>
                    <a href="{% url 'visualAnalytics' %}" class="btn btn-secondary">Zobacz więcej</a>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="box">
                    <h3 class="title">Wdrożenie analityczne</h3>
                    <div class="gfx-wrapper">
                        <img src="{% static 'content/icon-wa.png' %}" alt="Wdrożenie analityczne">
                    </div>
                    <p>Wdrożenia analityczne obejmują implementację systemów analitycznych - np. Adobe Marketing Cloud, Google Analytics 360 - w zakresie konfiguracji technicznej oraz analitycznej. Oferujemy również usługi w zakresie audytu już istniejących systemów oraz ich rozbudowy o dodatkowe źródła danych czy dodatkowe funkcje. </p>
                    <a href="{% url 'wdrozeniaAnalityczne' %}" class="btn btn-secondary">Zobacz więcej</a>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="box">
                    <h3 class="title">Optymalizacja konwersji</h3>
                    <div class="gfx-wrapper">
                        <img src="{% static 'content/icon-ok.png' %}" alt="Optymalizaja konwersji">
                    </div>
                    <p>Optymalizacja konwersji koncentruje się na optymalizacji bixnesowej oraz optymalizacji UX w kluczowych procesach serwisu internetowego, tak aby zwięksyć ilość kluczowych akcji w procesach sprzedażowych czy też procesach pozyskania leadów. Optymalizację konwersji wdrażamy jako proces organiczny, realizowany krok po kroku.</p>
                    <a href="{% url 'optymalizacjaKonwersji' %}" class="btn btn-secondary">Zobacz więcej</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<section class="news-section">
    <div class="container">
        <h3 class="heading-with-line"><span>Newsroom</span></h3>
        <div class="row no-gutters">
            <a href="#" class="col-sm-6 col-lg-3 text-center">
                <h4>Nowa wersja Adobe Analytic</h4>
                <span class="btn btn-sm btn-primary">Czytaj</span>
            </a>
            <a href="#" class="col-sm-6 col-lg-3 text-center">
                <h4>Google Analytics wprowadza zmienne lokalne</h4>
                <span class="btn btn-sm btn-primary">Czytaj</span>
            </a>
            <a href="#" class="col-sm-6 col-lg-3 text-center">
                <h4>Nowa wersja Adobe Analytic</h4>
                <span class="btn btn-sm btn-primary">Czytaj</span>
            </a>
            <a href="#" class="col-sm-6 col-lg-3 text-center">
                <h4>Google Analytics wprowadza zmienne lokalne</h4>
                <span class="btn btn-sm btn-primary">Czytaj</span>
            </a>
        </div>
    </div>
</section>

