{% extends "base2.html" %}
{% load staticfiles %}

{% block content %}

    <div class="content col-12 col-lg-8">
        <div style="padding: 20px;">
            <a href="https://www.google.pl/maps/place/Stanis%C5%82awa+Moniuszki+11,+Wroc%C5%82aw/@51.1193103,17.0824526,17z/data=!4m8!1m2!2m1!1sgoogle+maps+moniuszki+11!3m4!1s0x470fe83bcc5bc519:0xb0a1bcf8843ac81e!8m2!3d51.1193085!4d17.084665"><img class="full-width" src="{% static 'content/map.jpg' %}" alt="Hexe Data on Google Maps"></a>
        </div>
    </div>
    <div class="col-12 flex-lg-first col-lg-4">
        <div class="contact-sidebar text-center">
            <h2>Zapraszamy do kontaktu</h2>
            <p>Adres: <br/><span>ul. Moniuszki 11<br/>Wrocław</span></p>
            <p>Telefon: <br/><a href="tel:607278890">+48 667 16 70 70</a></p>
            <p>E-mail: <br/><a href="mailto:info@hexedata.pl">hello@hexedata.pl</a></p>
        </div>
    </div>

{% endblock %}