{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content-wrapper col-12 col-lg-8">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Hexe Data</a></li>
            <li class="breadcrumb-item active">Narzędzia</li>
        </ol>
        <div class="post">
            <h1>Narzędzia</h1>
            <p>Posiadamy szerokie kompetencje marytoryczne poparte wieloletnim doświadczeniem i praktyką zdobytą podczas pracy z największymi markami, takimi jak Tesco, Nextle, Credit Suisse, Mall, Play czy Ringier Axel Springer.</p>
            <h6>Nasze kompetencje obejmują następujące obszary:</h6>
            <ul>
                <li>Adobe Marketing Cloud</li>
                <li>Google Analytics</li>
                <li>Google Analytics 360 Suite</li>
                <li>Google Tag Manager</li>
                <li>Click Tale</li>
                <li>Tableau Software</li>
                <li>Marketing Automation np. Marketo, Oracle Eloqua</li>
                <li>Inne systemy np. Splunk</li>
            </ul>
            <p>Każdy system dopasowujemy indywidualnie do potrzed danego biznesu i przyjętych (wypracowanych) założeń i wymagań.</p>
            <img class="half-width" src="{% static 'content/logo_adobe.png' %}" alt="Post Image">
            <img class="half-width" src="{% static 'content/logo_ga.png' %}" alt="Post Image">
            <img class="half-width" src="{% static 'content/logo_gas.png' %}" alt="Post Image">
            <img class="half-width" src="{% static 'content/logo_gtm.png' %}" alt="Post Image">


        </div>
    </div>

{% endblock %}


