{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content-wrapper col-12 col-lg-8">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Hexe Data</a></li>
            <li class="breadcrumb-item active">Oferta</li>
        </ol>
        <div class="post">
            <h1>Oferta</h1>

            <p>Usługi związane z analizą danych i implementacją narzędzi analitycznych</p>

            <p>W ramach naszej działalności świadczymy wszelkie usługi związane z implementacją narzędzi analitycznych, implementacją cyklicznego programu analizy danych, implementacją optymalizacji programu konwersji.</p>

           <img class="full-width" src="{% static 'content/img12.jpg' %}" alt="Post Image">

            <h2>Analiza danych</h2>
            <h5>Jak analizować dane, aby przyniosły realny dochód?</h5>
            <p>Analizując dane koncentrujemy się na dwóch podstawowych założeniach: zbierane dane powinny być poprawne oraz zbierane dane powinny mieć realne przełożenie na Państwa decyzje biznesowe - dane powinnyć być czynnikiem i katalizatorem dla osiąganego dochodu. <a href="{% url 'analizaDanych' %}">Zobacz naszą ofertę analizy danych &raquo;</a></p>

            <h2>Visual Analytics</h2>
            <h5>Jak pokazać dane, aby były one czytelne i zrozumiałe?</h5>
            <p>Jednym z najtrudniejszych etapów pracy z danymi, jest ich odpowiednie przedstawienie, dopasowane do potrzeb danego decydenta w Państwa organizacji. Dlatego też oferujemy wdrożenia systemów takich jak TABLEAU czy QLICK, pozwalających na automatyzację raportowania, wraz z naciskiem na zwięzłą i czytelną prezentację powiązań pomiędzy danymi. <a href="{% url 'visualAnalytics' %}">Zobacz naszą ofertę wdrożeniową &raquo;</a></p>

            <h2>Wdrożenia analityczne</h2>
            <h5>Jakie narzędzia analityczne wybrać? Jak je wdrożyć?</h5>
            <p>Pomagamy wybrać i wdrożyć optymalny zestaw narzędzi i rozwiązań analitycznych. Wdrażamy zaróno podstawowe rozwiązani analityczne jak i skomplikowane systemy, indywidualnie dostosowane i wymagające dodatkowych prac programistycznych oraz integracji ze źródłami zewnętrznymi. <a href="{% url 'wdrozeniaAnalityczne' %}">Zobacz naszą ofertę wdrożeń analitycznych &raquo;</a></p>

            <h2>Optymalizacja konwersji</h2>
            <h5>Jak zbudować proces optymalizacji konwersji?</h5>
            <p>Optymalizacja konwersji skupia się na analizie danych analitycznych, warstwy UX oraz założeń biznesowych, tak aby zbadać ścieżki konwersji użytkowników i zbudować plan ich lepszej optymalizacji pod ich potrzeby. Każdy dodatkowy 1% konwersji przekłada się na realny przychód w serwisie e-commerce. <a href="{% url 'optymalizacjaKonwersji' %}">Zobacz naszą ofertę optymalizacji konwersji &raquo;</a></p>


            <img class="half-width" src="{% static 'content/post-1.jpg' %}" alt="Post Image">
            <img class="half-width" src="{% static 'content/post-2.jpg' %}" alt="Post Image">
        </div>
    </div>

{% endblock %}


