{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content-wrapper col-12 col-lg-8">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Hexe Data</a></li>
            <li class="breadcrumb-item active">O nas</li>
        </ol>
        <div class="post">
            <h1>O nas</h1>
            <p>Hexe Data to firma świadcząca usługi z zakresu analityki internetowej i szerokopojętej analizy danych</p>
            <p>Naszą ofertę kierujemy przede wszystkim do dużych krajowych jak i międzynarodowych Klientów, nastawionych na długoterminową współpracę. Hexe Data należy do grupy kapitałowej Hexe Capital, świadczącej usługi w zakresie w zakresie programowania, analizy i doradztwa związanego z branżą nowych technologii.</p>
            <h2>Misja</h2>
            <p>Nasza misja to przede wszystkim zadowolenie naszych Klientów, dlatego też stawiamy sobie za cel:</p>
            <ul>
                <li>Dostarczyć rzetelne i sprawdzone dane</li>
                <li>Zbudować z danych katalizator napędzający rozwój biznesu</li>
                <li>Czyli... <b>We date data with business</b></li>
            </ul>
            <img class="full-width" src="{% static 'content/img14.jpg' %}" alt="Post Image">
            <h2>Nasi liderzy</h2>
            <h6>Krzysztof Surowiecki</h6>
            <p>Posiada piętnastoletnie doświadczenie zawodowe w zakresie programowania i analityki internetowej. W ostatnich latach pracował jako Head of Analytics w J.Walter Thompson Poland oraz jako Data/Analytics Expert w Credit Suisse. Specjalizuje się we szeroko pojętej analizie danych, jak i programowaniu w języku Python. Ulubiony program to Adobe Marketing Cloud oraz Tableau.</p>
            <h6>Kamil Delost</h6>
            <p>Specjalista w zakresie analityki internetowej i zagadnień e-commerce, w szczególności optymalizacji konwersji.</p>
            <h6>Kajetan Walczak</h6>
            <p>Specjalista w zakresie analityki internetowej oraz analityki rynku mediowego.</p>
            <img class="full-width" src="{% static 'content/img15.jpg' %}" alt="Post Image">

        </div>
    </div>

{% endblock %}


